<style> .item-content{
    background-color: white !important;

}</style>

<ion-view view-title="Chat Room {{ roomName }}">
                <ion-nav-bar class="bar-header bar-light">
<ion-nav-buttons side="primary">
      <button class="button ion-android-arrow-back" ng-click="goback()">

      </button>
    </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <ion-list ng-show="roomName">
            <ion-item ng-hide="chats" class="textCenter">
                <i class="icon ion-loading-c"></i> Loading Chats
            </ion-item>
            <ion-item ng-if="chats.length == 0" class="textCenter">
                <h4>No messages in this room. Send message to start.</h4>
            </ion-item>


            <ion-item class="item item-avatar item-borderless message" ng-repeat="chat in chats | orderBy:'createdAt':false" type="item-text-wrap  ">
                <img ng-src="data:image/jpg;base64,{{chat.avatar.url}}"/>
                <h4>{{chat.from}} :</h4>
                <span am-time-ago="chat.createdAt" class="item-note">
                </span>
                <p>{{chat.message}}</p>
                <ion-option-button class="button-assertive" ng-click="remove(chat)">
                    Delete
                </ion-option-button>
            </ion-item>

        </ion-list>


    </ion-content>


              <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
                  <label class="item-input-wrapper">
                      <textarea ng-model="IM.textMessage" value="" placeholder="Send a message..." required minlength="1" maxlength="1500" msd-elastic></textarea>
                  </label>
                  <div class="footer-btn-wrap">
                    <button class="button button-icon icon ion-android-send footer-btn" type="submit" ng-click="sendMessage(IM.textMessage)"
                        ng-disabled="!IM.textMessage || IM.textMessage === ''">
                    </button>
                  </div>
              </ion-footer-bar>

</ion-view>
