<ion-view view-title="Dashboard" >
  <ion-content>

<div class="row">

      <div class="col">
          Total:
            <canvas id="totalCredits" width="40" height="40" class="chart chart-bar " data="data" labels="labels" legend="false" series="series" options="{showTooltips: false}" ng-click="popoverO.show($event)"></canvas>
    </div>


      <div class="col" ng-repeat="major in user.major">
                    {{major}} :
                      <canvas id="{{major}}" width="40" height="40"  class="chart chart-bar " data="data" labels="labels" legend="false" series="series" options="{showTooltips: false}" ng-click="openPopoverMajor($event,major)" > </canvas>

    </div>

      </div>



      <ion-list>
                      <div ng-repeat="major in MajorDoneObject" class="list card">
                              <div class="item item-divider">
                                {{major.Major}}
                              </div>
                              <div class="item item-text-wrap">
                                Required:
                                 <p ng-repeat="course in major.RequiredLeft">{{course}} </p>
                                Ellective:
                                <p ng-repeat="course in major.ElectiveLeft">{{course}} </p>

                              </div>
                              <div class="item item-text-wrap">
                                Required: {{major.RequiredLeft.length}}, Ellective: {{major.ElectiveLeftNumber}}
                              </div>
                    </div>




      </ion-list>
   <ion-list>
          <ion-item class="item-stable"
                    ng-click="toggleGroup()"
                    ng-class="{active: isGroupShown()}">
              <i class="icon" ng-class="isGroupShown() ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            Courses Taken
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="course in user.coursesTaken"
                    ng-show="isGroupShown()">
            {{course.id}}
          </ion-item>

      </ion-list>






  </ion-content>
</ion-view>
