<ion-view view-title="{{userName}}">
  <ion-content>

      
      
      <div class="card">
        <div class="item item-divider">
Credits        </div>
        <div class="item item-text-wrap">
 Total: {{credits}}/120 
            <canvas id="totalCredits" width="100" height="100" class="chart chart-bar " data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
                                   

            <div ng-repeat="major in majors"> 
                {{major}} credits:
            <canvas id="{{major}}" width="100" height="100"  class="chart chart-bar " data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}" > </canvas>
                
                          </div>         
        </div>
      </div>

  </ion-content>
</ion-view>
