<style>.popover { height:13em; }</style>
<ion-popover-view>
        <ion-content>


<div class="row">
          <div class="col">
           <h4>Credits</h4>
          </div>
          <div class="col">
            <h4>{{credits}}   /120 </h4>
          </div>
</div>

<div class="row">
            <div class="col">
           <h4>Courses</h4>
          </div>
          <div class="col">
            <h4>{{coursesTaken.length}} </h4>
          </div>
</div>

<div class="row">
            <div class="col">
           <h4>Standing</h4>
          </div>
          <div class="col">
            <h4>{{displayName.standing}} </h4>
          </div>
</div>





          </ion-content>
      </ion-popover-view>
