
<ion-view title="Profile" ng-init="">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-camera" ng-click="uploadAvatar()"  ></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-item class="item-thumbnail-left item-text-wrap">
          <img ng-src="data:image/jpg;base64,{{avatar.url}}" alt="Poster" class="customized-image" ng-click="showImages($index)"  >
            <a ng-click="openPopover($event)">
          <h2>{{user.displayName}}</h2>
      <p>{{user.status}}</p>
            </a>
        </ion-item>

    </ion-content>
</ion-view>


