
<ion-view title="Profile" ng-init="">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-camera" ng-click="uploadAvatar()"  ></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-item class="item-thumbnail-left item-text-wrap">
          <img ng-src="data:image/jpg;base64,{{avatar.url}}" alt="Poster" class="customized-image" ng-click="showImages($index)"  >
          <h2>{{userName}}</h2>
      <p>Back off, man. I'm a scientist.</p>
        </ion-item>

    </ion-content>
</ion-view>


