<ion-view view-title="Settings">
    <ion-content>
<ion-list class="list-borderless ">

    <ul class="list">

<div class="item item-divider">
    Profile Privacy
  </div>
        <ion-toggle  ng-model="profile" ng-checked="profile" ng-click="changeProfile(profile)" >
          Show Profile
        </ion-toggle>
        <div ng-if="profile">

             <ion-checkbox ng-repeat="setting in user.settings" ng-model="setting.$value" ng-checked="setting.$value"
                           ng-click="changeSetting(setting)">
          {{ setting.$id}}
        </ion-checkbox>
        </div>

        <div class="item item-divider">
    Design
  </div>
          <label class="item item-input item-select">
    <div class="input-label">
      bar color
    </div>
    <select>
      <option>Blue</option>
      <option selected>Green</option>
      <option>Red</option>
    </select>
  </label>
</ul>


<div class="item range">
  <i class="icon ion-volume-low"></i>
  <input type="range" name="volume">
  <i class="icon ion-volume-high"></i>
</div>


</ion-list>



        </ion-content>
</ion-view>
