<ion-view view-title="Settings">
    <ion-content>
<ion-list class="list-borderless ">

    <ul class="list">

<div class="item item-divider">
    Profile Privacy
  </div>
        <ion-toggle  ng-model="profile" ng-checked="profile" ng-click="changeProfile(profile)" >
          Show Profile
        </ion-toggle>
        <div ng-if="profile">

             <ion-checkbox ng-repeat="setting in user.settings" ng-model="setting.$value" ng-checked="setting.$value"
                           ng-click="changeSetting(setting)">
          {{ setting.$id}}
        </ion-checkbox>
        </div>

   <div class="item item-divider">
    Change Password
  </div>
         <form name="ChangePassword" class="list card padding">
  <label class="item item-input">
    <input type="password" ng-model="old" placeholder="old password" required>
  </label>
  <label class="item item-input">
    <input type="password" ng-model="new" placeholder="new password" required>
  </label>


   <label class="item item-input">
    <input ng-hide="new==null" type="password" ng-model="renew" placeholder="new password" required>
  </label>



 <p class="item item-icon-right" ng-if="new!=renew" > re-enter new password.<i class="icon ion-android-warning"></i></p>
  <p class="item item-icon-right" ng-if="new==old && new==renew" >change new password.<i class="icon ion-android-warning"></i></p>



        <button ng-if="new==renew && old!=new" ng-click="changePass(old,new)" class="button button-block button-positive activated"  ng-hide="ChangePassword.$invalid" >
                Change
            </button>


   </form>

                <div class="item item-divider">
    Design
  </div>
          <label class="item item-input item-select">
    <div class="input-label">
      bar color
    </div>
    <select>
      <option>Blue</option>
      <option selected>Green</option>
      <option>Red</option>
    </select>
  </label>
</ul>

    <div class="item range">
  <i class="icon ion-volume-low"></i>
  <input type="range" name="volume">
  <i class="icon ion-volume-high"></i>
</div>

</ion-list>



        </ion-content>
</ion-view>
