<ion-view view-title="Rooms">
            <ion-nav-bar class="bar-header bar-light">
<ion-nav-buttons side="primary">
      <button class="button ion-android-arrow-back" ng-click="goback()">
      </button>
    </ion-nav-buttons>

    
    </ion-nav-bar>
    
    <ion-content>
   
        <div class="card">

        <div class="item item-text-wrap item-icon-left" ng-repeat="room in rooms" type="item-text-wrap" ng-click="openChatRoom(room.id)">
   <i class="icon {{room.icon}}"><h2>{{room.name}}</h2></i>
                
        </div>
      </div>
        
        

            
        <ion-list ng-hide="rooms.length" >
            <ion-item class="textCenter">
                <i class="icon ion-loading-c"></i> Loading Rooms
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
